<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BYU Movie App</title>
    <script src="https://unpkg.com/vue" charset="utf-8"></script>
    <link rel="stylesheet" href="app.css">
  </head>
  <body>
    <header>
      <img src="img/svg/movie_reel.svg" alt="" width="100px">
      <h1>BYU Movie DB</h1>
    </header>

    <div id="vue-app">

      <div id="search">
        <div class="searchContainer">
          <div class="searchCenter">
            <input type="text" name="query" v-on:keyup="keyPressed(this.event)" v-model="searchString" class="searchBox" placeholder="Search for movies...">
            <input v-on:click="getResults" type="button" name="button" value="search" class="searchButton" >
          </div>
        </div>
      </div>

      <div id="results" v-show="searchSuccesfull">
        <div class="tile" v-for="movies in moviesObject">
          <div class="poster">
            <span v-if="movies.poster_image_url != 'null'">
              <img v-bind:src="movies.poster_image_url" alt="">
            </span>
          </div>
          <div class="resultsText">
            <h3>{{ movies.title }}</h3>
            <p>{{ movies.popularity_summary }}</p>
          </div>
        </div>
      </div>
      
    </div>
    <!-- End vue-app -->

    <footer>

    </footer>
    <script src="app.js" charset="utf-8"></script>
  </body>
</html>
